.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar, .copyright {

    background-color: #f57443f5 !important;
}

.masthead, #about, .footer {
    background-color: #ef7b058c !important;
}

.navbar-toggler {
    background-color: #f9ab68 !important;

}

.text-secondary {
    color: #f57443f5 !important;
}

.divider-custom, .divider-custom-icon {
    color: #f57443f5 !important;
}

.btn-primary {
    color: #fff;
    background-color: #f57443f5 !important;
    border-color: #f57443f5 !important;

}

a:hover {

    color: #f9ab68 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    background-color: #f9ab68 !important;
}

.btn-outline-light {
    margin-top: 30px;
}

.btn-outline-light:hover, a {
    color: #f9ab68;

}

html, body {
	height: 100%;
}

body {
	display : table;
	width: 100%;
}

#footer {
    display : table-row;
    padding: 10px;
    height: 60px;
}

.footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#legal {
    padding-top: 150px;
}

#legal-link {
    margin-top: 20px;;
}

input {
    border-color: #f57443f5!important;
    border-radius: .5rem;
    border: solid;
    border-width: thin;
    padding: 5px;
    
}

#login-section, #new-account-section {
    padding-top: 140px;
    padding-bottom: 30px;
}

.alert {
    background-color: #ef7b058c !important;
    border-color: #f57443f5!important;
    border-radius: .5rem;
    border: solid;
    border-width: thin;
    color: white;

}

.close {
    color: white;
}

.close:active, .close:hover {
    color: white !important;
}