{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<!-- Chat Section -->
<section class="page-section" id="chat">

    <div class="container-fluid">

      <!-- Chat Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Chat</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Chat Content with display and input areas -->

      <div class="text-center">
        <div class="container">
          <div class="col-lg-12 text-secondary text-center">
                <textarea id="chat-log" rows="12" readonly></textarea><br/>

                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Entrez votre message ici..."/>
                    <button class="btn btn-primary" id="btn-chat">Envoyer</button>
                </div>
            </div>
          </div>
        </div>
    </div>

</section>

<script type="text/javascript">
    var roomName = "room";
    
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws"; 
    var ws_path = ws_scheme + '://' + window.location.host + '/ws' +  window.location.pathname;					
    var chatSocket = new WebSocket(ws_path);

    chatSocket.onerror = function (event) { console.log(event); } 
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        if (message !== "") {
            var user = data['user'];
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            document.querySelector('#chat-log').value += (time + '  -  ' + user + '  :  ' + message + '\n');
            document.getElementById("chat-log").scrollTop = document.getElementById("chat-log").scrollHeight
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#btn-input').focus();
    document.querySelector('#btn-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#btn-chat').click();
        }
    };

    document.querySelector('#btn-chat').onclick = function(e) {
        var messageInputDom = document.querySelector('#btn-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>

{% endblock %}


