.container-fluid {
    padding: 0;
    margin: 0;
    display: inline;
}

.navbar, .copyright {

    background-color: #f57443f5 !important;
}

.masthead, #about, .footer {
    background-color: #ef7b058c !important;
}

.navbar-toggler {
    background-color: #f9ab68 !important;

}

.text-secondary {
    color: #f57443f5 !important;
}

.divider-custom, .divider-custom-icon {
    color: #f57443f5 !important;
}

.btn-primary, .pm_btn {
    color: #fff;
    background-color: #f57443f5 !important;
    border-color: #f57443f5 !important;
    margin-top: 10px !important;
    border-radius: .5rem;
}

a:hover {

    color: #f9ab68 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    background-color: #f9ab68 !important;
}

.btn-outline-light {
    margin-top: 30px;
}

.btn-outline-light:hover, a {
    color: #f9ab68;

}

html, body {
	height: 100%;
}

body {
	display : table;
	width: 100%;
}

#footer {
    display : table-row;
    padding: 10px;
    height: 60px;
}

.footer {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#legal {
    padding-top: 150px;
}

#legal-link {
    margin-top: 20px;;
}

input, select {
    border-color: #f57443f5!important;
    border-radius: .5rem;
    border: solid;
    border-width: thin;
    padding: 5px;    
}

input, select, textarea{
    color: #9c3e06f5;
}

textarea:focus, input:focus {
    color: #9c3e06f5;
}

select {
    color: #9c3e06f5!important;
    background-color: white;
}

#login-section, #new-account-section, #resources, #testimonies, #chat, #rules, #new-request-section, #new-testimony-section, #requests, #postman, #request-info {
    padding-top: 140px;
    padding-bottom: 30px;
}

.alert {
    background-color: #ef7b058c !important;
    border-color: #f57443f5!important;
    border-radius: .5rem;
    border: solid;
    border-width: thin;
    color: white;

}

.close {
    color: white;
}

.close:active, .close:hover {
    color: white !important;
}

li {
    list-style-type: none;
}

#links {
    font-size: 20px;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: .5rem !important;
    border-bottom-right-radius: .5rem !important;
}

input:focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.1rem #f9ab68 !important;
}

.testimony, .request {
    background-color: #f57443f5 !important;
    border-color: #f57443f5!important;
    border-radius: .7rem;
    border: solid;
    border-width: thin;
    color: white;
    margin: 20px;
    padding: 10px;
    word-wrap: break-word;
    opacity: 0.9;
}



.testimony {
    max-width: 1600px;
    min-width: 350px;
    min-width: 100%;

}

#testimonies {
    height: 100%;
    min-height: 50vh;
    max-width: 100%;
}

p {
    margin-bottom: 8px !important;
}

#btn-chat {
    margin-top: 0 !important;
}

.top-space {
    margin-top: 30px;
}

#rules {
    padding-bottom: 20px;
}

#message {
    width: 100%;
}

.postman-area {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-height: 60vh;
}

.content {
    width: 100%;
}

.max-width {
    width: 100%;
}

.select {
    margin-left: 10px;
    margin-top: -5px !important;
}

@media (max-width: 767px) {
    .select {
      margin: auto;
      margin-top: 10px !important;
    }
  }

#legal {
    font-size: larger;
}

#pm_messages {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-auto {
    margin: auto;
    margin-top: 20px;
}
