{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<!-- About Project Section -->
<section class="page-section" id="testimonies">

    <div class="container-fluid">

      <!-- About Project Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">À propos d'Empath-e</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Project Content -->

        <div class="text-center">
            <div class="container">
              <div class="row text-secondary">
                  <div class="col-lg-4 ml-auto">
                    <p class="lead">Empath-e est un projet qui vise à lutter contre la psychophobie, il part du constat d'une importante stigmatisation et discrimination des personnes atteintes de troubles mentaux, qui touchent pourtant 20% de la population française aujourd'hui.</p>
                  </div>
                  <div class="col-lg-4 mr-auto">
                    <p class="lead">Cette plateforme propose de mettre en relation des personnes faisant partie de l’entourage d’un individu atteint de troubles mentaux avec quelqu’un à même de s’exprimer sur ce trouble mental spécifique et d’en exposer les ressentis et les enjeux au quotidien.</p>
                  </div>
              </div>
            </div>
        </div>
</section>


{% endblock %}