{% extends 'app/base.html' %}
{% load static %}

{% block content %}

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Luttons contre la psychophobie !</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Bienvenue sur Empath-e</p>
      <div class="row login-btns">
        <a class="col-lg-6" href="/login/">
            <button class="btn btn-xl btn-outline-light">Sensibiliser</button>
        </a>
        <a class="col-lg-6" href="/login/">
          <button class="btn btn-xl btn-outline-light">Comprendre</button>
        </a>
      </div>

    </div>
  </header>

  <!-- Testimonies Section -->
  <section class="page-section portfolio" id="testimonies">
    <div class="container">

      <!-- Testimonies Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Témoignages</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Testimonies Section Content -->
      <div class="row">
        <div class="col-lg-8 ml-auto">
          <p class="lead">{{ testimony.content }}</p>
        </div>
      </div>


      <!-- Testimonies Section Button -->
      <div class="text-center mt-4">
        <a class="btn btn-primary btn-xl" href="/testimonies/">
          Lire d'autres témoignages
        </a>
      </div>

    </div>
  </section>

  <!-- About Section -->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">À propos</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Empath-e est un projet qui vise à lutter contre la psychophobie, il part du constat d'une importante stigmatisation et discrimination des personnes atteintes de troubles mentaux, qui touchent pourtant 20% de la population française aujourd'hui.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">Cette plateforme propose de mettre en relation des personnes faisant partie de l’entourage d’un individu atteint de troubles mentaux avec quelqu’un à même de s’exprimer sur ce trouble mental spécifique et d’en exposer les ressentis et les enjeux au quotidien.</p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="/project/">
          En savoir plus ...
        </a>
      </div>

    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <!-- Contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez-moi</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Section Form -->
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <form name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Nom</label>
                <input class="form-control" id="name" type="text" placeholder="Nom" required="required" data-validation-required-message="Entrez votre nom.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Email</label>
                <input class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Entrez votre email.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Numéro de téléphone</label>
                <input class="form-control" id="phone" type="tel" placeholder="Numéro de téléphone" required="required" data-validation-required-message="Entrez votre numéro de téléphone.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Entrez un message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Envoyer</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>

{% endblock %}