{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<!-- Contact Request Section -->
<section class="page-section" id="new-request-section">

    <div class="container-fluid">

      <!-- Contact Request Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Demande de contact</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Contact Request Form -->

      <div class="text-center">
        <div class="container">
          <div class="row text-secondary">
            <div class="col-lg-12 mb-lg-0 text-uppercase mb-4">
                <form action="/request/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Soumettre ma requête" class="btn btn-primary text-uppercase">
                  </form>
            </div>
          </div>
        </div>
    </div>

</section>

{% endblock %}