{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<!-- Resources Section -->
<section class="page-section" id="resources">

    <div class="container-fluid">

      <!-- Resources Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ressources</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Resources links -->

        <div class="container">
          <div class="row text-secondary" id="links">
            <div class="col-xs-5 offset-lg-2 mb-lg-0">
                <ul>
                    <li>
                        SOS Psychiatrie : +33 1 47 07 24 24
                    </li>
                    <li>
                        Urgences : 112
                    </li>
                    <li>
                        <a href="http://www.psycom.org/Glossaire-des-structures/Centre-medico-psychologique-CMP">
                            CMP (Centre médico-psychologique)
                        </a>
                    </li>
                    <li>
                        <a href="https://www.unafam.org">
                            Unafam
                        </a>
                         : +33 1 42 63 03 03
                    </li>
                </ul>
            </div>
            <div class="col-xs-5 offset-md-1 mb-lg-0">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/payetapsychophobie/">
                            <div class="btn btn-outline-light btn-social btn-primary mx-1">
                                <i class="fab fa-instagram"></i>
                            </div>
                            Paye ta psychophobie
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/balancetontrouble/">
                            <div class="btn btn-outline-light btn-social btn-primary mx-1">
                                <i class="fab fa-instagram"></i>
                            </div>
                            Balance ton trouble
                        </a>
                    </li>
                    <li>
                        <a href="https://fr-fr.facebook.com/commedesfous/">
                            <div class="btn btn-outline-light btn-social btn-primary mx-1">
                                <i class="fab fa-facebook"></i>
                            </div>
                            Comme des fous
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-primary btn-xl" href="/disorders/">Accéder à plus d'informations et de ressources sur les différents troubles mentaux</a>
              </div>
          </div>
        </div>

</section>

{% endblock %}